@import url("style.css");

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;

}

h1{
    color: #D3573C;
    font-size: 36px;
}

#contact_modal {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;

    display: none;
    background-color: rgb(196, 196, 196, 0.4);
}

.body-no-scroll {
    overflow: hidden;
  }

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 33%;
    
    padding: 35px;
    margin: 4em auto;
     
}

.modal header {
    justify-content: space-between;
    width: 100%;
    height: 1%;
}


.modal header img {
    cursor: pointer;
}

.modal h2 {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    font-size: 46px;
    font-weight: normal;
    margin-top: 10px;
    text-align: left;
    margin-left: 0;
    width: 100%;
    line-height: 0.3;

}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 95%;
    height: 25px;
    border: none;
    border-radius: 5px;
    padding: 8px; 
    font-size: 18px;
}

.form_error{
    outline: 3px solid #901C1C;
}
.error-message {
    color: #901C1C;
    display: none;
    margin-top: 5px;
}
.form_error + .error-message {
    display: none;
}

#message {
    width: 95%;
    height: 170px;
    margin-bottom: 26px;
    vertical-align: top;
    line-height: 1;
    border-radius: 5px;
    padding: 5px; 
    font-size: 18px;
}

main .media_section .medias{
    height: 300px;
    width: 100%;
    max-width: 350px;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
}

.photograph-header{
    background-color: #FAFAFA;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:  3% 3%;
    margin: 2em 8.5%;
    width: 77%;
}

#sortLabel {
    font-size: 18px;
    font-weight: 700;
    margin: 2em 1em 2em 6em;
}

main .media_section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3em; 
    margin: 1em 7em;
}

main .media_section article .mediaInfo{
    color: #901C1C;
    width: 100%;
    max-width: 330px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    margin: -2em 5.3em;
   
}


main .media_section article .mediaInfoLikes{
    display: flex;
    font: 24px ;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    gap: 0.3em;
}

main .media_section article{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0;
    text-align: center;
    
    
}

main .media_section article img, 
main .media_section article video {
    margin-bottom: 2em; 
}

main .stickyInfo{

    position: sticky;
    bottom: 0px;
    left: 100%; 
    
    width: 15em;
    margin-right: 3em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    background-color: #DB8876;

    border: 1px solid black;
    border-bottom: 0px;

    padding: 0 1.2em;
    border-radius: 5px 5px 0 0;

}

main .stickyLikes{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3em;
}

#lightbox{
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    align-items: center;
    justify-content: center;
    
}

.lightbox_content{
    position: relative;
    object-fit: cover;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    max-width: calc(100% - 22em);
    max-height: calc(100% - 15em);
    z-index: 1;
    

}

.lightbox_media_name{
    position: absolute;
    font-size: 24px;
    color: #901C1C;
    bottom: 2em;
    left: 8em;
    z-index: 2;

}

.lightbox_close .material-icons,
.lightbox_prev .material-icons,
.lightbox_next .material-icons {
    position: absolute;
    font-size: 90px;
    color: #901C1C;
    text-decoration:none;
    top: 50%;
    z-index: 2;
}

.lightbox_close .material-icons {
    font-size: 70px;
    right: 1.2em;
    top: 1.8em;

}

.lightbox_prev .material-icons {
    left: 0.8em;

}

.lightbox_next .material-icons {
    right: 0.8em;

}

.media_heart.liked {
    transform: scale(1.3);
    color: #DB8876;
    transition: transform 0.5s ease-in-out;
}

.media_heart.unliked {
    transform: scale(1);
    color: #901C1C;
    transition: transform 0.5s ease-in-out;
}

.media-filter {
    display: flex;
    flex-direction: row;
    align-items: center;


}

.custom-select-wrapper {
    position: relative;
    user-select: none;
    width: 200px;
}
.custom-select-trigger:hover,
.custom-option:hover,
.custom-select-trigger:focus,
.custom-option:focus {
    background-color: #DB8876;
    color: #312E2E;
    outline: none;
}

.custom-select {
    position: relative;
    cursor: pointer;
}

.custom-select-trigger {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #901C1C;
    color: white;
    padding: 10px 13px;
    font-size: 16px;
    border-radius: 4px; 
    border: 1px solid #901C1C;
    box-sizing: border-box;
    outline: none;
    transition: border-radius 0.2s;
}

.custom-select-trigger.open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;


}

.custom-select-trigger.open::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 10px;
    right: 10px;
    height: 1px;
    background: white;
}

.custom-select .arrow {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid white;
    margin-left: 10px;
    transition: transform 0.2s;
}

.custom-select-trigger.open .arrow {
    transform: rotate(180deg);
}

.custom-select .arrow {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid white;
    margin-left: 10px;
}

.custom-options {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    right: 0;
    background: #901C1C;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
    box-sizing: border-box;
}

.custom-options.open {
    display: flex;
    flex-direction: column;
}

.custom-option {
    padding: 10px 13px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 0;
    position: relative;
    
}

.custom-option:not(.last-visible):not(:last-child)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    height: 1px;
    background: white;
}

.custom-option:last-child {
    border-bottom: 0px ;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.custom-option.last-visible {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#close_modal:focus{
    outline: 3px solid #901C1C;
    background-color: #901C1C;
}

  .contact_button:focus, 
  .contact_button:hover {
      background-color: #DB8876;
      color: #312E2E;
  }

  .modal .contact_button:focus, 
  .modal .contact_button:hover {
    background-color: #cf2b2b;
    color: #FAFAFA;
    outline: 3px solid #FAFAFA;
  }
  
.modal input:focus, 
.modal textarea:focus {
    background-color: #d0cbc6;

}

