@import url("style.css");

#contact_modal {
    display: none;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}
#contact_modal {
    display: none;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 5px;
}

main .medias img, video{
    height: 300px;
    width: 100%;
    max-width: 350px;
    border-radius: 5px;
    object-fit: cover;
}

.photograph-header{
    background-color: #FAFAFA;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:  3% 3%;
    margin: 2em 8.5%;
    width: 77%;
}

.sortLabel {
    font-size: 18px;
    font-weight: 700;
    margin: 6em;
}

main .medias {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3em; 
    margin: 1em 7em;
}

main .medias article .mediaInfo{
    color: #901C1C;
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    margin: -2em 5.3em;
    align-self: flex-start;
}


main .medias article .mediaInfoLikes{
    display: flex;
    font: 24px ;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.3em;
}

main .medias article{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0;
    text-align: center;
    
    
}

main .medias article img, 
main .medias article video {
    margin-bottom: 2em; 
}

main .stickyInfo{

    position: sticky;
    bottom: 0px;
    left: 100%; 
    
    width: 15em;
    margin-right: 3em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    background-color: #DB8876;

    border: 1px solid black;
    border-bottom: 0px;

    padding: 0 1.2em;
    border-radius: 5px 5px 0 0;

}

main .stickyLikes{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3em;
}