body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
h1 {
    color: #901C1C;
    margin-right: 100px;
}

.location{
    color: #901C1C;
}


.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section article img,
main .photograph-header img{
    height: 200px;
    width: 200px;
    
    border-radius: 50%;
    object-fit: cover;
}

.photographer_section article h2,
main .photograph-header h2 {
    color: #D3573C;
    font-size: 36px;
    /*** Affichage  ***/
    white-space: nowrap;
    
    text-decoration: none;
     margin: 0.5em 0 0 0;
}